<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<code>HTTP PUT</code> a JSON object to {{host}}/api/store1 to update all clients in real-time.

{{stat}}

<h2>Current Store Contents</h2>
<pre id="app"></pre>
