<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/bundle.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
